<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--全局配置信息：是否使用乱码处理-->
    <context-param>
        <param-name>use_encode</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--全局配置信息:字符信息控制-->
    <context-param>
        <param-name>encode</param-name>
        <param-value>utf-8</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>

</web-app>